In [1]:
import numpy as np 
import pandas as pd 
import re

In [2]:
df = pd.read_csv('Corona_NLP_train.csv',encoding ='latin1',error_bad_lines=False)
test = pd.read_csv('Corona_NLP_test.csv',encoding ='latin1',error_bad_lines=False)

In [6]:
df.head(15)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
6,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
7,3806,48758,Austria,16-03-2020,Was at the supermarket today. Didn't buy toile...,Neutral
8,3807,48759,"Atlanta, GA USA",16-03-2020,Due to COVID-19 our retail store and classroom...,Positive
9,3808,48760,"BHAVNAGAR,GUJRAT",16-03-2020,"For corona prevention,we should stop to buy th...",Negative
10,3809,48761,"Makati, Manila",16-03-2020,All month there hasn't been crowding in the su...,Neutral
11,3810,48762,"Pitt Meadows, BC, Canada",16-03-2020,"Due to the Covid-19 situation, we have increas...",Extremely Positive
12,3811,48763,Horningsea,16-03-2020,#horningsea is a caring community. LetÂs ALL ...,Extremely Positive
13,3812,48764,"Chicago, IL",16-03-2020,"Me: I don't need to stock up on food, I'll jus...",Positive
14,3813,48765,NaN,16-03-2020,ADARA Releases COVID-19 Resource Center for Tr...,Positive

In [8]:
print(df['OriginalTweet'][0])
print(df['OriginalTweet'][4])

@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/iFz9FAn2Pa and https://t.co/xX6ghGFzCC and https://t.co/I2NlzdxNo8




#CoronavirusFrance #restezchezvous #StayAtHome #confinement https://t.co/usmuaLq72n

In [154]:
# suppression des Urls et codes HTML
def remove_urls(df):
    url_remove = re.compile(r'https?://\S+|www\.\S+')
    return url_remove.sub(r'', df)
df['text_new']= df['OriginalTweet'].apply(lambda x:remove_urls(x))

def remove_html(df):
    html=re.compile(r'<.*?>')
    return html.sub(r'',df)
df['OriginalTweet']=df['text_new'].apply(lambda x:remove_html(x))

In [155]:
print(df['OriginalTweet'][0])
print(df['OriginalTweet'][4])

@MeNyrbie @Phil_Gahan @Chrisitv  and  and




#CoronavirusFrance #restezchezvous #StayAtHome #confinement

In [156]:
# Suppression des Hastags 
def remove_mention(x):
    text=re.sub(r'@\w+','',x)
    return text
df['text_new']=df['OriginalTweet'].apply(lambda x:remove_mention(x))
def remove_hash(x):
    text=re.sub(r'#\w+','',x)
    return text
df['OriginalTweet']=df['text_new'].apply(lambda x:remove_hash(x))

In [157]:
print(df['OriginalTweet'][0])
print(df['OriginalTweet'][4])

    and  and

In [162]:
stop_words = stopwords.words('english')
more_stopwords = ['u', 'im', 'c']
stop_words = stop_words + more_stopwords

def remove_stopwords(text):
    text = ' '.join(word for word in text.split(' ') if word not in stop_words)
    return text

In [164]:
df['OriginalTweet'] = df['OriginalTweet'].apply(remove_stopwords)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,text_new
0,3799,48751,London,16-03-2020,,Neutral,and and
1,3800,48752,UK,16-03-2020,advice Talk neighbours family exchange phone n...,Positive,advice Talk to your neighbours family to excha...
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths give elderly...,Positive,Coronavirus Australia: Woolworths to give elde...
3,3802,48754,NaN,16-03-2020,"My food stock one empty...\r\r\n\r\r\nPLEASE, ...",Positive,My food stock is not the only one which is emp...
4,3803,48755,NaN,16-03-2020,"Me, ready go supermarket outbreak.\r\r\n\r\r\...",Extremely Negative,"Me, ready to go at supermarket during the #COV..."

In [165]:
df['OriginalTweet'].head()

0
1    advice Talk neighbours family exchange phone n...
2    Coronavirus Australia: Woolworths give elderly...
3    My food stock one empty...\r\r\n\r\r\nPLEASE, ...
4    Me, ready go supermarket  outbreak.\r\r\n\r\r\...
Name: OriginalTweet, dtype: object

In [166]:
print(df['OriginalTweet'][0])
print(df['OriginalTweet'][4])

In [112]:
df_new = re.sub("[^a-zA-Z]", " ", df['OriginalTweet'][4])

#keep numbers
df_new =  re.sub("[^a-zA-Z0-9\s]+", " ",df['OriginalTweet'][4])

In [115]:
from nltk.tokenize import word_tokenize
from nltk.util import ngrams, bigrams, trigrams

In [117]:
df_tokens = word_tokenize(df_new)
df_tokens

['Me',
 'ready',
 'to',
 'go',
 'at',
 'supermarket',
 'during',
 'the',
 'outbreak',
 'Not',
 'because',
 'I',
 'm',
 'paranoid',
 'but',
 'because',
 'my',
 'food',
 'stock',
 'is',
 'litteraly',
 'empty',
 'The',
 'is',
 'a',
 'serious',
 'thing',
 'but',
 'please',
 'don',
 't',
 'panic',
 'It',
 'causes',
 'shortage']

In [118]:
print(list(bigrams(df_tokens)))

[('Me', 'ready'), ('ready', 'to'), ('to', 'go'), ('go', 'at'), ('at', 'supermarket'), ('supermarket', 'during'), ('during', 'the'), ('the', 'outbreak'), ('outbreak', 'Not'), ('Not', 'because'), ('because', 'I'), ('I', 'm'), ('m', 'paranoid'), ('paranoid', 'but'), ('but', 'because'), ('because', 'my'), ('my', 'food'), ('food', 'stock'), ('stock', 'is'), ('is', 'litteraly'), ('litteraly', 'empty'), ('empty', 'The'), ('The', 'is'), ('is', 'a'), ('a', 'serious'), ('serious', 'thing'), ('thing', 'but'), ('but', 'please'), ('please', 'don'), ('don', 't'), ('t', 'panic'), ('panic', 'It'), ('It', 'causes'), ('causes', 'shortage')]

In [119]:
print(list(trigrams(df_tokens)))

[('Me', 'ready', 'to'), ('ready', 'to', 'go'), ('to', 'go', 'at'), ('go', 'at', 'supermarket'), ('at', 'supermarket', 'during'), ('supermarket', 'during', 'the'), ('during', 'the', 'outbreak'), ('the', 'outbreak', 'Not'), ('outbreak', 'Not', 'because'), ('Not', 'because', 'I'), ('because', 'I', 'm'), ('I', 'm', 'paranoid'), ('m', 'paranoid', 'but'), ('paranoid', 'but', 'because'), ('but', 'because', 'my'), ('because', 'my', 'food'), ('my', 'food', 'stock'), ('food', 'stock', 'is'), ('stock', 'is', 'litteraly'), ('is', 'litteraly', 'empty'), ('litteraly', 'empty', 'The'), ('empty', 'The', 'is'), ('The', 'is', 'a'), ('is', 'a', 'serious'), ('a', 'serious', 'thing'), ('serious', 'thing', 'but'), ('thing', 'but', 'please'), ('but', 'please', 'don'), ('please', 'don', 't'), ('don', 't', 'panic'), ('t', 'panic', 'It'), ('panic', 'It', 'causes'), ('It', 'causes', 'shortage')]

In [121]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
filtered_sentence = [w for w in df_tokens if not w in stop_words]

In [122]:
filtered_sentence

['Me',
 'ready',
 'go',
 'supermarket',
 'outbreak',
 'Not',
 'I',
 'paranoid',
 'food',
 'stock',
 'litteraly',
 'empty',
 'The',
 'serious',
 'thing',
 'please',
 'panic',
 'It',
 'causes',
 'shortage']

In [131]:
from nltk.stem import WordNetLemmatizer, PorterStemmer, SnowballStemmer

stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

stemmed_word = []
for words in filtered_sentence:
    stemmed_word.append(stemmer.stem(words))

In [132]:
stemmed_word

['Me',
 'readi',
 'go',
 'supermarket',
 'outbreak',
 'not',
 'I',
 'paranoid',
 'food',
 'stock',
 'litterali',
 'empti',
 'the',
 'seriou',
 'thing',
 'pleas',
 'panic',
 'It',
 'caus',
 'shortag']

In [134]:
lemmatised_word =[]
for words in filtered_sentence:
    lemmatised_word.append(lemmatizer.lemmatize(words))

In [135]:
lemmatised_word

['Me',
 'ready',
 'go',
 'supermarket',
 'outbreak',
 'Not',
 'I',
 'paranoid',
 'food',
 'stock',
 'litteraly',
 'empty',
 'The',
 'serious',
 'thing',
 'please',
 'panic',
 'It',
 'cause',
 'shortage']

In [149]:
import nltk
from nltk.corpus import stopwords

stops = set(stopwords.words('french'))
print(stops)

{'que', 'aurez', 'eu', 'fûmes', 'as', 'ses', 'une', 'le', 'étées', 'sera', 'pour', 'suis', 'toi', 'étée', 'eusses', 'mon', 'soient', 'eussions', 'lui', 's', 'aurions', 'avaient', 'eut', 'soyez', 'vos', 'fût', 'ils', 'auriez', 'étantes', 'fussent', 'ait', 'les', 'un', 'aie', 'votre', 'il', 'leur', 'avec', 'se', 'ne', 'ayez', 'eus', 'aurons', 'serions', 'de', 'sont', 'ayante', 'fusses', 'eût', 'étants', 'sois', 'soit', 'étant', 'soyons', 'fus', 'es', 'qu', 'serons', 'seraient', 'fûtes', 'avez', 'me', 'ont', 'seront', 'mais', 'aient', 'étés', 'eurent', 'à', 'nous', 'même', 'on', 'eusse', 'fussions', 'eues', 'avait', 'eussent', 'étaient', 'aurai', 't', 'fut', 'ayants', 'fusse', 'seriez', 'avions', 'son', 'au', 'te', 'moi', 'furent', 'en', 'avais', 'ta', 'aux', 'elle', 'pas', 'qui', 'serait', 'étiez', 'je', 'eue', 'eux', 'aurais', 'est', 'vous', 'd', 'ce', 'l', 'serez', 'aviez', 'serais', 'aura', 'êtes', 'c', 'seras', 'et', 'mes', 'notre', 'n', 'du', 'étions', 'ayons', 'aurait', 'la', 'eussiez', 'eûtes', 'm', 'sa', 'y', 'fussiez', 'des', 'sur', 'serai', 'ces', 'auras', 'tu', 'avons', 'sommes', 'ayant', 'été', 'par', 'étais', 'nos', 'était', 'eûmes', 'auraient', 'dans', 'ai', 'aies', 'étante', 'j', 'ton', 'ou', 'ma', 'ayantes', 'tes', 'auront'}

In [150]:
import nltk
from nltk.corpus import stopwords

stops = set(stopwords.words('english'))
print(stops)

{'few', "it's", 'too', 'out', 'should', 'so', 'how', 'as', 'weren', 'further', 'theirs', 'own', "needn't", "shouldn't", 'it', 'down', 'has', 'its', 'until', 'was', 'mightn', 's', 'won', 'other', 'under', 'from', 'only', 'isn', 'same', 'through', "didn't", 'why', "you've", 'itself', 'yours', 'will', 'can', 've', 'shan', 'we', 'shouldn', 'his', 'during', 'you', 'between', 'after', 'in', 'doesn', 'i', 'than', 'her', 'him', 'if', 'any', 'me', 'do', 'needn', 'their', 'where', 'being', 'wasn', "couldn't", 'having', 'here', 'on', "weren't", 'were', 'below', 'does', 'herself', 'with', "she's", 'mustn', 'some', 'wouldn', 'themselves', "wouldn't", 't', "you'll", 'then', 'your', 'am', 'or', 'ours', 'to', 'what', 'but', 'who', "doesn't", 'above', 're', "hadn't", "you'd", 'such', 'which', "don't", 'those', "should've", 'had', 'd', 'are', 'haven', 'this', 'yourselves', 'our', 'because', 'about', 'before', 'up', 'not', 'by', 'myself', 'my', "you're", 'against', 'once', 'don', 'these', 'nor', 'didn', 'll', 'doing', 'most', 'couldn', 'when', 'be', 'just', 'm', 'y', 'himself', "shan't", 'is', 'for', 'hadn', 'more', 'she', 'o', "mightn't", 'ourselves', 'both', "wasn't", 'yourself', "haven't", 'off', 'at', 'very', "won't", "aren't", 'and', 'now', 'hasn', 'a', 'into', 'ain', 'each', 'he', 'of', "isn't", 'aren', 'no', "hasn't", 'again', 'over', 'there', 'them', "that'll", 'have', 'they', 'did', 'all', 'ma', 'whom', 'an', 'while', 'hers', 'that', 'the', "mustn't", 'been'}